body {
	
	background-image:url("https://i.pinimg.com/736x/4c/1e/9b/4c1e9bf50ac93bd6e7b63f884fc892e2.jpg")
}

html {
    
	font-size:100%;
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:90px;
  box-sizing: border-box;
}

@media screen and (max-width:480px){
	.container{
		padding-left:20px;
		padding-right:20px;
	}
}




.content-area {
  border-top: 3px solid #780C06;
  border-bottom: 3px solid #780C06;
  padding-right:30px;
  box-sizing: border-box;
  padding-top:40px;
}

@media screen and (max-width:480px){
	.content-area{
		padding-top:20px;
	}
}


header{
	padding-top:30px;
	padding-bottom:30px;
}

header h1
{
	margin:0;
	color:#780C06;
	font-size:200%
}
header p
{
	color:#9E5773;
	font-size:150%;
}




.main-area {
  width: 50%;
  float:left;
}

.sidebar {
  width: 39%;
  float: left;
  background-color:#B95F57;
  padding:20px 30px;
  font-size:100%;
  color:white;
  
}

@media screen and (max-width:700px){
	.main-area,
	.sidebar{
		width:auto;
		float:none;
		
	}
	.main-area{
		padding-right:0;
	}
}





footer
{
	text-align:center;
	color:#999;
	padding-top:20px;
	padding-bottom:2px;
	box-sizing:border-box;
}

.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/* site navidation */
.site-nav a {
	text-decoration:none;
	color:black;
	padding:10px 20px;
	border:3px solid black;
	display:block;
	
	
}
.site-nav ul {
	margin:0;
	padding:0;
}
.site-mav{
	margin:30px;
}
.site-nav li {
	list-style:none;
	float:left;
	
}
.site-nav a:hover{
	background-color:#F55D53;
}
/*end site navigation*/